@{
    ViewBag.Title = "RegistroUsuario";
    Layout = "~/Views/Templates/_TemplateIndex.cshtml";
}
<form method="post">
    <label for="fechanac">Fecha de Nacimiento</label>
    <input required id="fechanac" name="fechanac" type="date" autofocus size="0" class="form-control">
    <button type="submit" class="btn btn-danger" value="Agregar">Agregar</button>
</form>