
@{
    ViewBag.Title = "Variables";
    Layout = "~/Views/Templates/_TemplateIndex.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Variables Del Sistema</h1>
        </div>
        <div class="col-lg-12">           
            <form role="form"  method="post">
                <fieldset>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>SSO</h4>
                        </div>
                        <div class="col-lg-offset-10">
                            <h6>Ultima Actulizacion 12/07/2017</h6>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            
                            <label for="riesgo">Trabajador</label>
                            <input id="riesgo" class="form-control"  name="riesgo" type="text" autofocus />
                        </div>
                        <div class="col-lg-4">
                            <label for="porcsso">Empresa</label>
                            <input required id="porcsso" class="form-control" name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <h4>RPE</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">

                            <label for="riesgo">Trabajador</label>
                            <input id="riesgo" class="form-control"  name="riesgo" type="text" autofocus />
                        </div>
                        <div class="col-lg-4">
                            <label for="porcsso">Empresa</label>
                            <input required id="porcsso" class="form-control"  name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <h4>FAOV</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">

                            <label for="riesgo">Trabajador</label>
                            <input id="riesgo" class="form-control" name="riesgo" type="text" autofocus />
                        </div>
                        <div class="col-lg-4">
                            <label for="porcsso">Empresa</label>
                            <input required id="porcsso" class="form-control" name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <h4>INCES</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">

                            <label for="riesgo">Trabajador</label>
                            <input id="riesgo" class="form-control" name="riesgo" type="text" autofocus />
                        </div>
                        <div class="col-lg-4">
                            <label for="porcsso">Empresa</label>
                            <input required id="porcsso" class="form-control" name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <h4>FAOV</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">

                            <label for="riesgo">Trabajador</label>
                            <input id="riesgo" class="form-control" name="riesgo" type="text" autofocus />
                        </div>
                        <div class="col-lg-4">
                            <label for="porcsso">Empresa</label>
                            <input required id="porcsso" class="form-control" name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Unidad Tributaria</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label for="porcsso">Valor</label>
                            <input required id="porcsso" class="form-control" name="porcsso" type="text" autofocus />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Guardar</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
