
@{
    ViewBag.Title = "ListaNomina";
    Layout = "~/Views/Templates/_TemplateIndex.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Nomina</h1>


    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <a href="/Pago/PagoNomina" class="btn btn-success boton-tabla pull-right">Agregar</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de Nominas
            </div>
            <!-- /.panel-heading -->
            <center class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Código de nomina</th>
                            <th>Fecha</th>
                            <th>Estatus</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX"></tr>

                    </tbody>
                </table>
                <!-- /.table-responsive
                <div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                    <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                </div>
                -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
</div>




